flask
flask-sqlalchemy
spotipy
qrcode
yt-dlp
python-dotenv
mutagen
tqdm
colorama
psutil
pillow
requests
gunicorn
colorama
flask
flask-sqlalchemy
gunicorn
mutagen
pillow
psutil
python-dotenv
requests
spotipy
tqdm
yt-dlp
qrcode[pil]
